<app-divider-block>
  <divider-block-header>
    <app-header-text [needLogout]="isWaiting" [text]="isWaiting?('welcome'|translate):
                                (sayThanks?'':('areYouSatisfiedText'|translate))"></app-header-text>
  </divider-block-header>
  <divider-block-body>

    <div *ngIf="isWaiting" class="container d-flex w-100 h-75 justify-content-center align-items-center">
      <img src="assets/img/logo.png" alt="logo">
    </div>

    <div *ngIf="!isWaiting" class="container d-flex w-100 h-50 justify-content-center align-items-center">
      <div *ngIf="!sayThanks" class="row justify-content-between ">
        <div class="column m-lg-5" *ngFor="let result of resultList">
          <img *ngIf="!result.isButton" class="img flex-column row-cols-3" [src]="result.imgSrc" (click)="satisfyAnswer(result.satisfyType)"/>
          <button *ngIf="result.isButton" class="btn btn-rounded flex-column row-cols-5" [ngClass]="result.elClass" (click)="satisfyAnswer(result.satisfyType)">
            {{result.buttonText| translate}}
          </button>
        </div>
      </div>
      <div *ngIf="sayThanks">
        <div class="row">
          <img class="thanks-img row-cols-3" src="assets/img/accept.png"/>
        </div>
        <div class="row">
          <span class="thanks-text pb-0 mb-0 text-wrap text-center text-truncate mh-100">
            {{'thanksForResponse'|translate}}
          </span>
        </div>
    </div>
    </div>
  </divider-block-body>
</app-divider-block>
