@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  };

  $color: #0cf;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      flex: 1;
    }

    &:first-child {
      border-top: none;
    }
  }

  .delta {
    display: flex;
    align-items: center;

    &.down {
      color: nb-theme(color-danger-default);
    }

    &.up {
      color: nb-theme(color-success-default);
    }
  }

  .tap-button {;
    display: inline-block;
    padding: .45rem .90rem;
    border-radius: 10rem;
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($color, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
