.header-height {
  height: 86px;
}

.header-text {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.header-links {
  z-index: 1;
  font-weight: 300;
  margin-right: 15px;
  margin-top: 8px;
}
