@import "src/variables";
@import "src/page-max-size";

.content {
  height: calc(100% - 86px - 8px);
}

.divider-gradient {
  height: 8px;
  background-image: linear-gradient(to right, $primary, $accent900, yellow);
}

.navbar-height {
  height: 86px;
}
