@import "src/page-max-size";
@import "src/variables";

.flat-input {
  border-radius: initial;
}

.btn-orange {
  color: white;
  background-color: $app-orange;
  border-color: $app-orange;
  padding: 7px 12px;
}

.btn-rounded {
  border-radius: 5px;
}
